---
import { Image } from 'astro:assets'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

---

<PageLayout meta={{ title: '首页' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='ACS'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>Awesome Class Softwares</h1>
        <h4 class='text-base max-w-28rem text-center text-foreground:50 -mb-2'>适用于班级一体机的优质软件合集，涵盖 Windows/Linux 等平台，方便广大学生与教师</h4>
        <h4 class='text-base font-bold max-w-28rem text-center text-foreground:75'>由 {config.author} 编写，内容源于 List 仓库</h4>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>          
          <Label
            title='List 仓库'
            as='a'
            href='https://github.com/Jursin/Awesome-Class-Softwares'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Web 仓库'
            as='a'
            href='https://github.com/Jursin/ACS-Web'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      <a
        href='/apps'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>获取软件</p>
      </a>

    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='关于'>
        <p class='text-muted-foreground'>
          在教室一体机逐渐普及的今天，教学过程中产生的需求不断增加，而各种优质软件也不断涌现出来。它们大多由在读学生开发，能很好地应对这些需求，具有良好的社区环境。本项目通过汇集这些软件，帮助学生和教师更好地使用这些工具。
        </p>
        <Button title='了解更多' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
  </main>
</PageLayout>
