---
import PageLayout from '@/layouts/CommonPage.astro'
import { Aside } from 'astro-pure/user'
import { LinkPreview } from 'astro-pure/advanced'

const headings = [
  { depth: 2, slug: 'links', text: '相关链接' }
]

---

<PageLayout title='链接聚合' {headings} info='/links'>
  <h2 id='links'>相关链接</h2>
  <table>
    <thead>
      <tr>
        <th>项目仓库</th>
        <th><img src="https://img.shields.io/badge/-bilibili%E8%A7%86%E9%A2%91-%23FB7299?style=flat&logo=bilibili" alt="bilibili"></th>
        <th><img src="https://img.shields.io/badge/-QQ%E7%BE%A4-blue?style=flat&logo=QQ" alt="QQ 群"><img src="https://img.shields.io/badge/-QQ%E9%A2%91%E9%81%93-blue?style=flat&logo=QQ" alt="QQ 频道"></th>
        <th>其它</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://github.com/ClassIsland/ClassIsland">ClassIsland</a></td>
        <td><a href="https://www.bilibili.com/video/BV1EEsNeYEc9">BV1EEsNeYEc9</a></td>
        <td><a href="https://qm.qq.com/q/4NsDQKiAuQ">958840932</a> <a href="https://pd.qq.com/s/10sd1flp0">classisland</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Class-Widgets/Class-Widgets">Class-Widgets</a></td>
        <td><a href="https://www.bilibili.com/video/BV1SSfDYmEa4">BV1SSfDYmEa4</a> <a href="https://www.bilibili.com/video/BV1xwW9eyEGu">BV1xwW9eyEGu</a></td>
        <td><a href="https://qm.qq.com/q/EuDtwzURQA">169200380</a><br/><a href="https://qm.qq.com/q/qSnRH8ycWQ">698599898（2群）</a></td>
        <td><img src="https://img.shields.io/badge/-Discord%EF%BD%9CxT7v7FGZ-white?style=flat&logo=Discord" alt="Discord"> <a href="https://discord.gg/xT7v7FGZ"></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Yamikani-Flipped/LingYun-Class-Widgets">LingYun-Class-Widgets</a></td>
        <td><a href="https://www.bilibili.com/video/BV1hGrnYDEhN">BV1hGrnYDEhN</a></td>
        <td><a href="https://qm.qq.com/q/BDeDL7K8kE">917509031</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/EnderWolf006/ElectronClassSchedule">ElectronClassSchedule</a></td>
        <td><a href="https://www.bilibili.com/video/BV1Wm411k7n8">BV1Wm411k7n8</a></td>
        <td><a href="https://qm.qq.com/q/9nRFURLYJ2">951996041</a><br/><a href="https://qm.qq.com/q/JarnP6AD2a">914887202（2群）</a></td>
        <td><img src="https://img.shields.io/badge/-Telegram%EF%BD%9C@%E7%94%B5%E5%AD%90%E8%AF%BE%E8%A1%A8%E4%BA%A4%E6%B5%81%E7%BE%A4ElectronClassSchedule-blue?style=flat&logo=Telegram" alt="Telegram"> <a href="https://t.me/ECSchedule"></a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Ris-Soft/Ris_ClassTool">Ris_ClassTool</a></td>
        <td><a href="https://www.bilibili.com/video/BV1A96SYHEnz">BV1A96SYHEnz</a></td>
        <td><a href="https://qm.qq.com/q/nl64TDpnk6">939571490</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/STBBRD/ZongziTEK-Blackboard-Sticker">ZongziTEK-Blackboard-Sticker</a></td>
        <td><a href="https://www.bilibili.com/video/BV1Lz4UeREEW">BV1Lz4UeREEW</a></td>
        <td><a href="https://jq.qq.com/?_wv=1027&k=epb9KDPe">1101582374</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/ExamAware">ExamAware</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/zDiEipHsaI">901670561</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Sticky-attention/Sticky-attention">Sticky-attention</a></td>
        <td><a href="https://www.bilibili.com/video/BV1YJ4Fe5EgD">BV1YJ4Fe5EgD</a></td>
        <td><a href="https://qm.qq.com/q/neHPnfBSJq">680019081</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/EnderWolf006/HomeworkBoard">HomeworkBoard</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/9nRFURLYJ2">951996041</a>（与 `ElectronClassSchedule` 同群）</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/ClassworksDev/Classworks">Classworks</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/AdQJCgNOsS">964979747</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/WXRIW/Ink-Canvas">Ink-Canvas</a></td>
        <td></td>
        <td><a href="https://jq.qq.com/?_wv=1027&k=NvlM1Rgg">891913576</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/clover-yan/Ink-Canvas-Plus">Ink-Canvas-Plus</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/yVzprKLfbi">996760298</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/ChangSakura/Ink-Canvas">Ink-Canvas-Artistry</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/AC777tzmEw">617707731</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/InkCanvas/InkCanvasForClass">InkCanvasForClass</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/9OCaHHfh7O">195404368</a>（非官方交流群）</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Alan-CRL/Inkeys">Inkeys</a></td>
        <td><a href="https://www.bilibili.com/video/BV1Tz421z72e">BV1Tz421z72e</a></td>
        <td><a href="https://qm.qq.com/q/iEDzSL0Wn">618720802</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/iNKORE-NET/Inkways">Inkways-Classic</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/wzFUnRBF9C">655979143</a> <a href="https://pd.qq.com/s/g3o1pmidm">1nkoreStudios</a></td>
        <td>
          <img src="https://img.shields.io/badge/-Telegram%EF%BD%9C@iNKORE_Studios-blue?style=flat&logo=Telegram" alt="Telegram"> <a href="https://t.me/iNKORE"></a><br/>
          <img src="https://img.shields.io/badge/-Facebook%EF%BD%9C@iNKORE_Studios-blue?style=flat&logo=Facebook" alt="Facebook"> <a href="https://www.facebook.com/iNKORE.NET"></a><br/>
          <img src="https://img.shields.io/badge/-X%EF%BD%9C@iNKORE_NET-black?style=flat&logo=X" alt="X"> <a href="https://x.com/iNKORE_NET"></a><br/>
          <img src="https://img.shields.io/badge/-Discord%EF%BD%9Cm6NPNVk4bs-white?style=flat&logo=Discord" alt="Discord"> <a href="https://discord.com/invite/m6NPNVk4bs"></a>
        </td>
      </tr>
      <tr>
        <td><a href="https://github.com/SectionIstool/SectionIstool">SectionIstool</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/ASRSNUJuve">833875216</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/NamePickerOrg/NamePicker">NamePicker</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/flUZy9cJMs">2153027375</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/SECTL/SecRandom">SecRandom</a></td>
        <td></td>
        <td><a href="https://qm.qq.com/q/Y8tx1BxnmG">833875216</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <Aside type='tip' title='友情链接'>
    <ul>
      <li><a href="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/main/README-zh_CN.md">提问的智慧</a></li>
      <li>智教联盟 （<a href="https://qm.qq.com/q/WRyW8y2yg8">QQ群｜1032389222）</a><br>
      <LinkPreview href='https://forum.smart-teach.cn/' /></li>
    </ul>
  </Aside>
</PageLayout>
